.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;
}

.header__navbar-list:hover {
    color: black;
    text-decoration: none;
    background-color: #f53e2d;
}

.header__navbar-item {
    /* TRÊN DƯỚI BẰNG O TRÁI PHẢI BẰNG 8 LÀ KHOẢNG CÁCH  2 CHƯ */
    margin: 0 8px;
    position: relative;
    min-height: 26px;
    color: var(--white-color);
    font-weight: 200;
}

.header__navbar-item-link {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-item-link:hover {
    color: black;
    text-decoration: none;
    background-color: #f53e2d;
}

.header__navbar-item-link-strong {
    font-weight: 800;
}

.header__navbar-item--space:hover {
    color: black;
    text-decoration: none;
    background-color: #f53e2d;
}

/* :hover QR */
.header__navbar-item--space ::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 2px solid green;
    height: 12px;
    right: -8px;
    top: 50%;
    transform: translateY(-90%);
    text-decoration: none;
}

.header__qr {
    width: 130px;
    background-color: var(--white-color);
    position: absolute;
    padding: 5px;
    border-radius: 3px;
    left: 0;
    top: 100%;
    display: none;
    text-decoration: none;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__navbar-item--has-qr:hover .header__qr {
    display: block;
}

.header__qr-code-link:nth-child(2) {
    margin-left: 4px;

}

.header__qr-code-link:nth-child(3) {
    margin-right: 5px;

}

.header__qr-img {
    width: 100%;
}

.header__download-img {
    height: 11px;
}

.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    border-radius: 3px;

}

.header__logo {
    width: 200px;
}

.header__logo-img {
    width: 150px;
    color: #f53e2d;
}

.header__logo-img:hover {

    cursor: pointer;
}

.header__search {
    flex: 1;
    height: 40px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart {
    width: 85px;
    text-align: center;
}

.header__search-icon-cart {
    color: var(--white-color);
    font-size: 2.4rem;
    margin-top: 2px;
    margin-left: 20px;
}

.header__search-input {
    flex: 1;
    height: 100%;
    border: none;
    border-radius: 3px;
    outline: none;
    font-size: 1.5rem;
    color: var(--white-color);
    padding: 0 16px;
    align-items: center;
}

.header_search-select {
    border-left: solid #ccc;
    padding-left: 16px;
    justify-content: space-between;
    position: relative;
}

.header_search-select-lable {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-icon-search {
    font-size: 1.4rem;
    color: #dddddd;
    margin: 0 16px;
    position: relative;
    top: 1px;
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 36px;
    width: 60px;
    border-radius: 3px;
    margin-right: 5px;
    outline: none;
}

.header__search-btn:hover {
    cursor: pointer;
    background-color: #f8958c;
}

.header__search-btn-icon {
    font-size: 1.6rem;
    color: var(--white-color);
}

.header_search-select:hover .header__search-option {
    display: block;
    cursor: pointer;
}

.header__search-option {
    position: absolute;
    right: 0;
    top: 160%;
    width: 145px;
    list-style: none;
    box-shadow: 0 1px 3px #f53e2d;
    padding-left: 0;
    border-radius: 3px;
    display: none;
}

.header__search-option::after {
    content: "    ";
    display: block;
    width: 100%;
    height: 50px;
    top: -46px;
    left: 0;
    position: absolute;
}

.header__search-option-item {
    background-color: var(--white-color);
    padding: 6px 12px;
}

.header__search-option-item:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.header__search-option-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header__search-option-item:hover {
    background-color: red;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 10px;
    text-align: center;
    justify-content: space-between;
}

.header__search-option-item i {
    font-size: 1.4rem;
    color: var(--primary-color);
    margin: 0 8px 0 12px;
    margin-left: 10px;
    display: none;
    text-align: center;
    justify-content: space-between;
}

.header__search-option-item--active i {
    display: inline-block;
}

.header__cart-btn-icon {
    font-size: 1.8rem;
    color: var(--white-color);
}

.header__cart-btn-icon:hover {
    background-color: #f53e2d;
    cursor: pointer;
}

.header__cart-btn {
    background-color: #f53e2d;
    border: none;
    height: 38px;
    width: 60px;
    border-radius: 3px;
    margin-right: 0px;
    outline: none;
}

/* đây làm phần thông báo  */
/* header notifi */
.header__notify {

    position: absolute;
    z-index: 1;
    top: 118%;
    right: 0;
    width: 404px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: var(--white-color);
    cursor: default;
    transform-origin: calc(100% - 32px) top;
    animation: headerNotifyGrowth ease-in 0.2s;
    will-change: opacity, transform;
    display: none;
}

.header__notify::before {
    content: ' ';
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -29px;
}

.header__notify::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: -16px;
    width: 90px;
    height: 20px;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header--has-notify:hover .header__notify {
    display: block;
}


.header__notify-item--viewed {
    left: 0;
    background-color: rgba(238, 75, 43, 0.08);
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-header h3 {
    display: block;
    color: black;
    margin-left: 10px;
    font-weight: 400;
    font-size: 1.4rem;
}

.header__notify-list {
    padding-left: 0;
    list-style: none;
    justify-content: space-between;
}

.header__notify-item {
    display: flex;
    text-decoration: none;
}

.header__notify-link {
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
}

.header__notify-img {
    width: 60px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 20px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;
}

.header__notify-descrition {
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #756f6e;
    margin-top: 4px;
}

.header__notify-footer {
    display: flex;
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    padding: 8px 0;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
}

/* phần thân code  */

.app__container {
    background-color: #f5f5f5;
}

.app_content {
    padding-top: 30px;

}

.category {
    margin-left: -6%;
    border-radius: 2px;
    background-color: var(--white-color);
}


.category__heading {
    margin-top: 0;
    font-family: "Times New Roman", Times, serif;
    font-size: 2rem;
    color: #f53e2d;
    font-weight: 400;
    padding: 8px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.category__heading:hover {
    cursor: pointer;
}

.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 8px;
    position: relative;
}

.category__list {
    margin-left: -6px;
    padding: 0 0 8px 0;
    list-style: none;
    line-height: 2.4rem;
}

.category-item__link {

    margin-left: 10%;
    position: relative;
    font-size: 1.6rem;
    color: var(--text-color);
    text-decoration: none;
    padding: 6px 16px;
    display: block;
    transition: right linear 0.1s;
    right: 0;
    text-align: right;
    display: block;

}

.category-item__link-item {}

.category-item {
    position: relative;
    display: flex;
    text-align: right;
    transition: right linear 0.1s;
    right: 0;
    text-align: right;
    display: flex;
}

.category-item--active {}

/* lồm cái toam gioác nhoặn */

.category-item--active .category-item__link::before {
    content: "";
    top: 50%;
    height: 8px;
    width: 8x;
    left: 4px;
    transform: translateY(-50%);
    position: absolute;
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
}


.category-item:hover {
    right: -4px;
    color: red;
}

.category-item__link-item {
    margin-left: 200%;
    margin-top: 8px;
    padding: -10px 2px 0px 10px;
    font-size: 1.8rem;
    display: flex;
    justify-content: space-between;
}

/* phần 10 cột show sản phẩm */

.home-filter {
    margin-left: 1%;
    display: flex;
    padding: 12px 22px;
    text-align: center;
    background-color: rgba(248, 0, 0, 0.15);
    font-size: 1.6rem;
    border-radius: 3px;
    font-weight: 600;
}

.home-filter__label {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    margin-right: 18px;
}

.home-filter__btn {
    min-width: 90px;
    margin-right: 14px;
    font-weight: 600;
}

.home-filter__label {
    padding-top: 0.1%;
    display: flex;
}

.select-input {}

.select-input__lable {
    display: flex;
    align-items: center;
    text-align: left;
}



.select-input__item {}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num {
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 600;
}

.select-input__page-item {}

.home-filter__page-current {}

.home-filter__page-control {
    margin-left: 10px;
    border-radius: 2px;
    background-color: var(--white-color);
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}

.home-filter__page-btn {
    flex: 1;
    display: flex;
    text-decoration: none;
    background-color: var(--white-color);
}


.home-filter__page-btn:first-child {
    border-right: 2px solid red;
}

.home-filter__page-btn--disabled {
    cursor: default;
    background-color: #f9f9f9;
}

.home-filter__page-btn--disabled .home-filter__page-icon {
    color: #ccc;
}

.home-filter__page-icon {
    margin: auto;
    font-size: 1.6rem;
    color: #555;
}

/* product item */
.home-product-item {
    position: relative;
    margin-left: 1px;
    margin-top: 10px;
    background-color: var(--white-color);

}

.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}

.home-product-item__img:hover {}

.home-product-item_name {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px 10px 6px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    cursor: default;
}

.home-product-item__prince {
    display: flex;
    margin: 0 10px 0 10px;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-between;
    cursor: default;
}

.home-product-item__prince-old {
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
}

.home-product-item__prince-current {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 4px;
}

.home-product-item__action {
    margin: 6px 10px 0 10px;
    display: flex;
    justify-content: space-between;
    cursor: default;
}

.home-product-item__like {
    font-size: 1.4rem;
    cursor: pointer;
}

i.home-product-item__like--icon-fill {
    display: none;
    color: red;

}

.home-product-item__like--liked .home-product-item__like--icon-fill {
    display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty {
    display: none;
}

.home-product-item__rating {
    margin-top: 3px;
    font-size: 0.7rem;
    cursor: pointer;
    /* transform: scale(0.7); */
    margin-left: auto;
}

.home-product-item__sold {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
}

.home-product-item__ratin-gold {
    color: var(--star-gold-color);
}

.home-product-item__origin {
    margin: 3px 10px 0 10px;
    display: flex;
    justify-content: space-between;
    cursor: default;
    font-weight: 300;
}

.home-product-item__brand {}

.home-product-item__origin-name {}

.home-product-item__favorite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    cursor: default;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin: 0 10px 0 -0px;
    padding-right: 4px;
}

.home-product-item__favorite span {
    color: var(--white-color);
}

.home-product-item__favorite::before {
    content: "";
    left: 0;
    bottom: -3px;
    position: absolute;
    border-top: 3px solid currentColor;
    filter: brightness(60%);
    border-left: 3px solid transparent;
}

.home-product-item__favorite i {
    color: var(--white-color);
    font-size: 0.9rem;
    margin: 0 2px 0 4px;

}

.home-product-item__sale-off {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(255, 216, 64, 0.94);
    text-align: center;
    cursor: default;
    display: block;
    justify-content: space-between;
}

.home-product-item__sale-off::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    border-width: 0 20px 6px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64, 0.94) transparent rgba(255, 216, 64, 0.94);
}

.home-product-item__sale-off-percent {

    color: #ee4d2d;
    font-size: 1.2rem;
    font-weight: 600;
    position: relative;
    top: -1px;
    line-height: 1.2rem;
}

.home-product-item__sale-off-label {
    font-size: 1.3rem;
    line-height: 1.3rem;
    color: var(--text-color);
    position: relative;
    top: -3px;
    font-weight: 600;

}